.icons{
    display: flex;
    
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
   
}

.icons i{
    cursor: pointer;
}
.like{
    color: red;
}

.save{
    color: red;
}
.img-size{
    width: 100%;
   
}
.post-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}
.text-wrapper{
    text-wrap: wrap;
}