.nav-wrapper{
    background-color: black;
    height: 50px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.nav-wrapper ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-wrapper ul li{
    text-decoration: none;
    color: white;
}

.font1{
    color: white;
}

.icon{
    
    height: 40px;
    width: 40px;
    padding: 5px;
    /* object-fit: contain; */
    border-radius: 100%;
    cursor: pointer;

}
.home-icon{
    color: white;
}
/* .dropbtn{
    background-color: red;
    color: white;
     */
/* } */
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content{display:block;}

  .dropdown:hover .drop